<section class="text-primary-black bg-primary-darkest body-font">
	<div class="container p-12 pb-2 md:pb-12 md:px-24 mx-auto">
		<h4 class="text-tertiary-lighter tracking-wider text-lg mb-1 font-medium title-font">Health &amp; Safety</h4>
	
		<h2 class="text-primary-lightest text-3xl mb-4 font-bold">COVID-19 Precautions</h2>
		
		<p class="text-primary-light">
			All guests over 16 must be vaccinated and we expect all guests to bring their own mask.
		</p>
		<p class="text-primary-light">
			We will be following <a href="" target="__blank">the latest recommendations from the CDC regarding masking and social distancing</a>. The wedding ceremony, weather permitting, will be outside. The reception will be inside and, CDC permitting, will involve non-distanced dancing. We are expecting between 75 and 100 guests. 
		</p>
		<p class="text-primary-light mt-3 pb-8">
			Please use the RSVP form to contact us about any COVID-19 related questions.
		<p>
	</div>
</section>