<header class="text-gray-500 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img class=" rounded-full" src="{{site.baseurlurl}}/images/placeholder-logo_200x200.png`" alt="">

      <span class="ml-3 text-xl">Emily & David's Wedding</span>
    </a>

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="/" class="mr-5 hover:text-white">Home</a>
      <a href="/our-story" class="mr-5 hover:text-white">Our Story</a>
      <a href="/schedule" class="mr-5 hover:text-white">Schedule</a>
      <a href="/location" class="mr-5 hover:text-white">Location</a>
    </nav>

    <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">
      Button

      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>